ol{
    list-style-type: none;
    padding-left: 0px;
}
ol li::before{
    content: "\2666";
    color: rgb(170, 0, 113);
    display: inline-block;
    width: 20px;
}
p{
    height: 20px;
}
span{
    margin-left: 20px;
}